.modalInfo {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
}

.modalInfo.enter-done {
    opacity: 1;
    pointer-events: visible;
}

.modalInfo.exit {
    opacity: 0;
}

.modalInfo-content {
    width: 530px;
    background-color: #fff;
    transform: translateY(-200px);
    transition: all 0.3s ease-in-out;
}

.modalInfo.enter-done .modalInfo-content {
    transform: translateY(0);
}

.modalInfo.exit .modalInfo-content {
    transform: translateY(-200px);
}

.modalInfo-header, .modalInfo-footer {
    padding: 10px;
}

.modalInfo-title {
    margin: 0;
}

.modalInfo-body {
    padding: 10px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.black-bg {
    background-color: #000000;
}